<ul>
  {{#each workouts as |workout|}}

    <li class='workout{{workout.id}}'>
      <h1>  <small>Title: {{workout.title}}</small></h1>
      <div>
        <!-- {{#if workout.description}}
      {{workout.description}}
    {{else}}
      No description.
    {{/if}} -->

        <ul class="workouts">
          <li>{{workout.shups}}</li>
          <li>{{workout.squats}}</li>
          <li>{{workout.burpees}}</li>

        </ul>
      </div>
      <hr>
    </li>
  {{/each}}

</ul>
