<ul>
  {{#each workouts as |workout|}}

    <li class='workout{{workout.id}} list-unstyled'>
      <h1>  <small>Workout stats: {{workout.title}}</small></h1>
      <div>

        <ul class="workouts list-unstyled">
          <li>Push-ups: {{workout.shups}}</li>
          <li>Squats: {{workout.squats}}</li>
          <li>Burpees: {{workout.burpees}}</li>
          <li><button type="button" name="button">F that workout!</button></li>
        </ul>
      </div>
      <hr>
    </li>
  {{/each}}

</ul>
